<!DOCTYPE html>
<html>
  <head>
    <title>Curriculum Vitae</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <div class="contenedor-bloque" aling="center">
    <img src="https://i.pinimg.com/originals/5c/e0/5f/5ce05f3291528adb1dbd7efd1b1bbffe.jpg" style="width: 200px;">
    <h1>Jose A. Sanchez M.</h1>
    <p>Estudiante de Ingenieria en Informatica</p>
  </div>
  <div class="contenedor">  
    <fieldset> 
    <legend>Datos personales</legend>
    <ul>
      <li>Nacionalidad: Venezolano </p>
      <li>Edad: 18 Años </p>
      <li>Fecha de nacimiento: 16/08/2005</p>
      </fieldset>
    </div>

    <div class="contenedor">
     <fieldset>
      <legend>Contacto y Redes</legend>
      <ul>
      <li>Telefono: +584243010238</p>
      <li>Direccion: Calle Anibal Paradisi Casa 121-1, Palo Negro Edo. Aragua, Venezuela.</p>
      <li>Correo Electronico: sanchezldv1608@gmail.com</p>
      <li>Telegram: @aethz16</p>
      <li><a href="https://github.com/Aethz16">Github</a></p>
      <li><a href="https://twitter.com/aethz_">Twitter</a></p>
    </fieldset>
    </div>

    <div class="contenedor">
      <fieldset>
      <legend>Formacion Academica</legend>
      <ul>
      <li>Primaria</p>
        <p>U.E.P "Mariposas de Colores"</p>
      <li>Bachillerato</p>
        <p>U.E.I "Leonardo de Vinci"</p>
      <li>Estudiante de Ingenieria en Informatica 4º Semestre (2022- actualmente)</p>
        <p>Universidad Nacional Experimental "Romulo Gallegos"</p>
      </fieldset>
    </div>

    <div class="contenedor">
      <fieldset> 
      <legend>Experiencia Laboral</legend>
      <ul>
      <li>COMERCIALIZADORA J.C. (2 años)</p>
      <p>Manejo de bases de datos: Desarrollé y mantuve sistemas de bases de datos eficientes y seguros.
      Mis responsabilidades incluyeron la creación y administración de bases de datos asi como la optimización
       del rendimiento de la base de datos. Mi experiencia con MySQL me permitió realizar análisis de datos complejos 
       para la toma de decisiones estratégicas.</p>
      </fieldset>
      </div>

      <div class="contenedor">
        <fieldset> 
      <legend>Conocimientos</legend>
      <ul>
      <li>Programacion en C++ (Junior)</p>
      <li>Base de datos MySQL (Junior)</p>
      <li>Diseño Grafico</p>
    </fieldset>
      </div>

      <div class="contenedor">
        <fieldset> 
      <legend>Habilidades y Destrezas</legend>
      <ul>
      <li>Capacidad de trabajo en equipo</p>
      <li>Mente abierta</p>
      <li>Resolucion de problemas</p>
      <li>Capacidad de adaptacion</p>
    </fieldset>
      </div>
 </body>
</html>
